<div class="panel">
  <div>
    <ng-container *ngFor="let i of [].constructor(6); let index = index">
      <ng-container *ngIf="displayLineInput(index)">
        <div class="line-text">
          <div class="error-icon" [style]="isLineError(index) ? 'opacity: 100%' : 'opacity: 0'">
            !
            <span class="tooltiptext">
              {{ getTextForLine(index) }}
            </span>
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">
              Mot {{ index + 1 }}
            </span>
                <input (input)="onWordInput(index, $event)"
                       [maxLength]="10"
                       [value]="inputWords[index]"
                       class="form-control"
                       type="text">
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="!isLineError(0)">
  <div class="panel">
    <h3>Mots Proposées</h3>
    <h6>Clicker sur une lettre</h6>
    <h6>pour changer la couleur de la lettre</h6>
    <table class="table">
      <thead>
      <th></th>
      </thead>
      <tbody>
      <ng-container *ngFor="let word of inputWords, let x = index">
        <ng-container *ngIf="isWord(word)">
          <tr>
            <ng-container *ngFor="let letter of word.split(''), let y = index">
              <td (click)="cycleCaseType(x,y)">
              <span
                [ngClass]="{'wrong-placed': gridLetters[x][y] === CaseType.WrongPlace, 'correct': gridLetters[x][y] == CaseType.Correct, 'wrong': gridLetters[x][y] === CaseType.NotInWord}">
                {{ letter.toUpperCase() }}
              </span>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
    <button
      (click)="generateWords()"
      class="btn btn-primary">
      Rechercher Mots
    </button>
  </div>
</ng-container>
