<div class="panel">
  <h1>SUTOM SOLVER</h1>
  <button (click)="toggleMode()" class="btn btn-primary">
    Switch to {{ isSimpleMode ? 'Advanced' : 'Simple' }} Mode
  </button>
</div>
<ng-container *ngIf="isSimpleMode">
  <app-simple (words)="words = $event"></app-simple>
</ng-container>
<ng-container *ngIf="!isSimpleMode">
  <app-advanced (words)="words = $event"></app-advanced>
</ng-container>
<ng-container *ngIf="words.length > 0">
  <div class="panel list">
    <ng-container *ngFor="let word of words">
      <p>{{ word }}</p>
    </ng-container>
  </div>
</ng-container>
